<main id="container" class="grid">
			<div class="image-preview">
			<img> </img>
		</div>
</main>


<style>

.image-preview{
    width: 100px;
    height: 100px;

    background-color: #efefef;
}


</style>