---

---

<div class="media__window" id="media__window-drag"></div>

<style>
  .media__window {
    position: fixed;
    left: 50%;
    top: 50%;

    width: 220px;
    height: 123.75px;
    background-color: #969393;
    border-radius: 0.5rem;
    overflow: hidden;
    border-radius: 0.25rem;

    transition: transform 0.2s ease-in-out;
    z-index: 1000;
  }

  .media__window:hover {
    cursor: pointer;
    transform: scale(1.06);
  }

  .is-dragging {
    transform: rotate(1deg);
  }
</style>

<script>
  const mediaWindow = document.getElementById("media__window-drag");
  if (mediaWindow) {
    dragElement(mediaWindow);
  }

  function dragElement(elmnt: HTMLElement) {
    let pos1 = 0,
      pos2 = 0,
      pos3 = 0,
      pos4 = 0;

    elmnt.addEventListener("mousedown", dragMouseDown);
    elmnt.addEventListener("touchstart", dragMouseDown);

    function dragMouseDown(e: MouseEvent | TouchEvent) {
      e.preventDefault();
      // get the mouse cursor position at startup:
      const clientX =
        "touches" in e ? e.touches[0].clientX : (e as MouseEvent).clientX;
      const clientY =
        "touches" in e ? e.touches[0].clientY : (e as MouseEvent).clientY;

      pos3 = clientX;
      pos4 = clientY;
      elmnt.classList.add("is-dragging");
      document.addEventListener("mouseup", closeDragElement);
      document.addEventListener("touchend", closeDragElement);
      // call a function whenever the cursor moves:
      document.addEventListener("mousemove", elementDrag);
      document.addEventListener("touchmove", elementDrag, { passive: false });
    }

    function elementDrag(e: MouseEvent | TouchEvent) {
      e.preventDefault();
      // calculate the new cursor position:
      const clientX =
        "touches" in e ? e.touches[0].clientX : (e as MouseEvent).clientX;
      const clientY =
        "touches" in e ? e.touches[0].clientY : (e as MouseEvent).clientY;
      pos1 = pos3 - clientX;
      pos2 = pos4 - clientY;
      pos3 = clientX;
      pos4 = clientY;
      // set the element's new position while preserving rotation:
      elmnt.style.transform = `translate(${-pos1}px, ${-pos2}px) rotate(1deg)`;
      elmnt.style.top = elmnt.offsetTop - pos2 + "px";
      elmnt.style.left = elmnt.offsetLeft - pos1 + "px";
    }

    function closeDragElement() {
      // stop moving when mouse button is released:
      elmnt.classList.remove("is-dragging");
      elmnt.style.transform = `translate(${-pos1}px, ${-pos2}px)`;
      document.removeEventListener("mouseup", closeDragElement);
      document.removeEventListener("touchend", closeDragElement);
      document.removeEventListener("mousemove", elementDrag);
      document.removeEventListener("touchmove", elementDrag);
    }
  }
</script>
